<br>
<div class="row">

    <!-- Card 1 -->
    <div class="col-lg-3 col-md-3 mx-auto">
        <div class=" card text-center mb-3 " style="background-color: teal">
            <div class="card-header text-white ">
                <h5 class="card-title ">Total Orders</h5>
            </div>
            <div class="card-body text-light">
                <h6 class="card-text">{{ total_orders }}</h6>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col-lg-3 col-md-3 mx-auto">
        <div class=" card text-center mb-3 " style="background-color: cornflowerblue">
            <div class="card-header text-white ">
                <h5 class="card-title ">Total Riders</h5>
            </div>
            <div class="card-body text-white">
                <h6 class="card-text">{{ riders }}</h6>
            </div>
        </div>
    </div>


    <!-- Card 3 -->
    <div class="col-lg-3 col-md-3 mx-auto">
        <div class=" card text-center mb-3 " style="background-color: darkslategrey">
            <div class="card-header text-white ">
                <h5 class="card-title ">Total Passengers</h5>
            </div>
            <div class="card-body text-white">
                <h6 class="card-text">{{ passengers }}</h6>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-lg-3 col-md-3 mx-auto">
        <div class=" card text-center mb-3 " style="background-color: darkslategrey">
            <div class="card-header text-white ">
                <h5 class="card-title ">Total Rides Successful</h5>
            </div>
            <div class="card-body text-white">
                <h6 class="card-text">{{ ride_completed }}</h6>
            </div>
        </div>
    </div>
</div>


<br>